* {
padding: 0;
margin: 0;
}

html {
    scroll-behavior: smooth;
}

.header-container {

    display: flex;
    position: fixed;

    background: #000000;
    height: 100px;
    width: 100%;
    
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 10;
}

.header-container img {

    width: 50px;
    margin-left: 1vw;

}

.header-container .header-nav a{

    margin-right: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    
}

.header-container .header-nav  a{
    display: inline-block;
    margin-right: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    
    line-height: 50px;
    padding: 0 10px;
}


.header-container .header-nav  a:after{

    
    content: '';
    display: block;   
    margin: auto;
    height: 2px;
    width: 10%;
            
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    
}

.header-container .header-nav  a:hover:after{

    
    width: 100%;;
    background: rgb(160, 24, 24);

}






.header-container .header-nav .clock {

    display : flex; 
    position : absolute;
    width: 50px;
    height: 50px;
    left: 10vw;
    top: 3vw;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    
    
    }

#LaDynastie {

    width:100%;
  height:700px;
  margin: 0 auto;

  
/*    
width: 100%;
height: 700px;
background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%), url("images/Roi-accueil.jpg") no-repeat center / cover;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;*/
}

#LaDynastie .slider-outer {

    height:100% !important;
   
  overflow:hidden;
}

#LaDynastie .slider-outer .slider {

    
    width: 100%;
    height: 100%;
}

#LaDynastie .slider-outer .slider {

    
    width: 100%;
    height: 100%;
}

#LaDynastie .slider-outer .slider .slide-image{
    width: 100%;
      height: 100%;
     display:block;
      color: transparent;
      background-size: cover;
      -moz-background-size: cover;
      -ms-background-size: cover;
      -o-background-size: cover;
      -webkit-background-size: cover;
      background-position: 50% 50%;
      background-repeat: none;
      
  }
  #LaDynastie .slider-outer .slider .slide-item{
    float:left;
      padding: 0;
      margin: 0;
  }
  .clear{
    clear:both;
  }


#LaDynastiesuite{
    
    display: flex;
    position: relative;
    width: 100%;
    height: 1200px;
    left: 0px;
    top: 100%;
}

#LaDynastiesuite .Imagedescapétiens {
    display: block;
    position: relative;
    width: 50%;
    height: 1200px;
    left: 0px;
    background: url("images/sacredesrois.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    
}

#LaDynastiesuite .Texte {

    display: flex;
    width: 50%;
    height: auto;
    
    
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}




#LaDynastiesuite h1 {

    display: flex;
    position : absolute;
    margin-top: 5%;
    width: 50%;
    justify-content: center;
    
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 5vw;
    letter-spacing: 4px;
    
    }

#LaDynastiesuite .Texte .Lescapétiens p {

    display: block;
    position: relative;
   
    width: 36vw;
    
    left: 19%;
    margin-top: 40%;
    text-indent: 2em;
    
    
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: auto;
    column-count: 2;
    column-gap: 50px;
    /* border-style: solid;
    border-color: green; */

}

/* #LaDynastiesuite .Lescapétiens2 p {

    display: flex;
    position:absolute;
    width: 19%;
    height: 662px;
    left: 72%;
    margin-left: 5%;
    margin-top: 12%;
   
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 20px;
    

} */

.Footer {
    display: flex;
    background: url("images/FondFormulaire.jpg"); 
    height: auto;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    
    /* border: 4px blue solid; */
        
}

.Form {

display: flex;
margin-top: 20vh;
background-color: #000000;
width: 40%;

height: auto;
}

.Footer .Form #formulaire h2{
    display: block;
    position: relative;
    text-align: center;
    /* border: 4px blue solid; */
    margin-bottom: 50px;
    margin-top: 5vh;
    
    color: white;
    width: auto;

    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 2vw;
    letter-spacing: 1px;
}

.Footer .Form #formulaire{
    display: block;
    position: relative;
    
    top: 7%;
    left: 20%;
    width: 60%;
    height: auto;
    
    
    
   
}
.Footer .Form #formulaire label{
    font-family: 'Roboto', sans-serif;
    margin-top:1vw;
    /* border: 4px blue solid; */
    margin-right:2vw;
    width: 100%;
    height: auto;
    font-size: auto;
    color: aliceblue;
    
    
    
}


.Footer .Form .Bandeaucouleur{
    display: block;
    position: absolute;
    width: 4%;
    height: 30%;
    background-color: rgb(173, 24, 24);
    
    /* border: 4px blue solid; */
    
    margin-top: 20vh;
    

    
}


input {

width: 100%;

margin: 8px 0;
display: inline-block;
background: transparent;

/* box-sizing: border-box; */
border: 1px transparent;
box-shadow: none;
border-bottom: 1px solid;
letter-spacing: 1.5px;
padding-bottom: 1rem;
margin-top: 0.5rem;
color: rgb(82, 80, 80);    
    
    /* border: 4px blue solid; */
}







input[type=submit] {

    display: block;
    position: relative;
    box-shadow: #9488769d 2px 2px 2px;
    font-size: auto;
    
    width: 10vw;
    background-color: rgb(40, 41, 40);
    color: white;
    padding: 14px 20px;
    margin-top: 5vh;
    
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 30%;
    margin-bottom: 15vh;
    
    
}    
input[type=submit]:hover {
    background-color: rgb(173, 24, 24);
}
#up{
    z-index: 1;
    display: block;
    cursor: pointer;
    font-size: 2em;
    position:fixed;
    bottom:0;
    right:0;
    margin-right: 2vw;
}
#up a{
    color: darkred;
    text-indent: 0;
}
#up a:hover{
    color: red;
}

.DiapoManuel {

    display: flex;
    top : 17%;
    left: 50vw;
    width: 60%;
    
    /* border: 4px blue solid; */
    }

    .DiapoManuel .slideshow-container {
        display: none;
        
        width: 260px;
        height: 420px;
        
        
        


    }
    

    .DiapoManuel .slideshow-container .mySlides {
        display: none;
        position: relative;
        width: 260px;
        height: 420px;
       
       
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;   
    }

    /* .DiapoManuel .slideshow-container  {
        display: none;
        position: relative;
        width: 260px;
        height: 420px;
       
       
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
        /* border-style: solid;
        border-color: green;   
    } */

    .DiapoManuel  .slideshow-container .mySlides {
        display: none;
        position: relative;
        width: 260px;
        height: 350px;
        
        
       
       
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
        /* border-style: solid;
        border-color: green;  */
      }

      .DiapoManuel .slideshow-container .prev {
        display: none;
        cursor: pointer;
        position: absolute;
        
        bottom: 0%;
        width: auto;
        left: 30%;
        
        
        color: black;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        
      }

      .DiapoManuel .slideshow-container .next {
        display: none;
        cursor: pointer;
        position: absolute;
        bottom: 0%;
        right: 30%;
        width: auto;
        
        
        color: black;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }


@keyframes bounce {

    from {
        width: 200px;
    }
    50% {
        width: 170px;
    }
    to {
        width: 200px;}
}
